## editors
/.idea
/.vscode


## system files
.DS_Store

target/
node_modules/
dist/
.cargo/
.hc*
.kitsune2_bootstrap_srv
dna/workdir/dna*/*.dna
dna/workdir/happ*/*.happ
webapp/webhapp.workdir/*.webhapp
*.tsbuildinfo
.running
dna/*.txt


release/
artifacts/*
submodules/**/*
bin/

*.map


# Specific files
hash_zome*
